<div id="page-settings" class="hidden animate-fade-in">
    <div class="bg-theme-bg-panel p-6 rounded-lg border border-theme-border-base max-w-md">
        <h2 class="text-xl font-semibold mb-4 border-b border-theme-border-base pb-2 text-theme-text-main">Appearance
        </h2>

        <div class="mt-4">
            <label class="text-xs text-theme-text-main block mb-1">Application Theme</label>
            <select id="themeSelector"
                class="w-full p-2 bg-theme-bg-input rounded border border-theme-border-light text-theme-text-main focus:outline-none focus:border-theme-accent-focus cursor-pointer capitalize">
            </select>
        </div>
    </div>
</div>
